@model FramesAmorRoma.Models.spot

@{
    ViewBag.Title = "Details";




    <div>
        <h4>Details</h4>
        <hr />
        <div class="row justify-content-between">

            <div class="col-12 col-md-4">

                <h1>@Html.DisplayFor(model => model.locationName)</h1>
                <p class="d-none d-md-block">
                    @Html.DisplayFor(model => model.describtion)
                </p>
            </div>

            <div class="col row col-md-8 d-flex align-items-center">
                <div class="col-12">
                    <img src="~/Content/img/spots/@Model.spotIMG" style="width:100%; height:40vh; object-fit:cover; object-position:center" class="p-0 m-0 rounded-end" alt="location">
                </div>


                <div lass="col-12  carousel slide carousel-fade me-auto ms-auto shadow my-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="~/Content/img/spots/@Model.spot1img" class="homeIMG d-block w-100 border border-4 border-light" alt="photo Example" />
                        </div>
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="~/Content/img/spots/@Model.spot2img" class="homeIMG d-block w-100 border border-4 border-light" alt="photo Example" />
                        </div>
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="~/Content/img/spots/@Model.spot3img" class="homeIMG d-block w-100 border border-4 border-light" alt="photo Example" />
                        </div>

                    </div>


                </div>









            </div>
            <p class=" d-md-none">
                @Html.DisplayFor(model => model.describtion)
            </p>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.IDspot }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>

    </div>



}


