@model IEnumerable<FramesAmorRoma.Models.spot>

@{
    ViewBag.Title = "Best Rome Spots for Stunning Photos";
}






<p class="d-flex justify-content-center mt-5">
    @Html.ActionLink("Add A New Spot", "Create", null, new { @class = "btn btn-outline-success d-3 text-decoration-none" })
</p>


<div class="d-flex flex-column flex-md-row g-3 justify-content-center align-content-center me-auto ms-auto">

    @foreach (var item in Model)
    {


        <div class="card m-3 pt-3" style="width: 18rem;">
            <div class="card-body text-center d-flex flex-column justify-content-between ">
                <h6 class="card-subtitle text-muted text-uppercase">@Html.DisplayNameFor(model => model.locationName)</h6>
                <h2 class=" card-title m-3 text-uppercase">@Html.DisplayFor(modelItem => item.locationName)</h2>
                <p class="card-text">@Html.DisplayNameFor(model => model.Locationaddress) @Html.DisplayFor(modelItem => item.Locationaddress)</p>
                
                <div class="carousel slide carousel-fade px-0 mx-0" data-bs-ride="carousel">
                    
                        <div class="carousel-inner ">
                            <div class="carousel-item active" data-bs-interval="400">


                                <img src="~/Content/img/spots/@item.spotIMG" style="width: 150px; height: 200px; object-fit: cover; object-position: center" class="d-block w-100 rounded-bottom" alt="profile Picture">

                            </div>
                            <div class="carousel-item" data-bs-interval="4000">

                                <img src="~/Content/img/spots/@item.spot1img" style="width:150px;height:200px; object-fit:cover; object-position:center" class="d-block w-100 rounded-bottom" alt="profile Picture">

                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <img src="~/Content/img/spots/@item.spot2img" style="width: 150px; height: 200px; object-fit: cover; object-position: center" class="d-block w-100 rounded-bottom" alt="profile Picture">

                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <img src="~/Content/img/spots/@item.spot3img" style="width: 150px; height: 200px; object-fit: cover; object-position: center" class="d-block w-100 rounded-bottom" alt="profile Picture">

                            </div>

                        </div>
                   
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDspot }, new { @class = "btn link-success text-decoration-none" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDspot }, new { @class = "btn link-info text-decoration-none" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDspot }, new { @class = "btn link-danger text-decoration-none" })
                </div>

            </div>
        </div>
    }
</div>

















