@model IEnumerable<FramesAmorRoma.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<p class="d-flex justify-content-center">
    @Html.ActionLink("Add a New User", "Create", null, new { @class = "btn btn-outline-success d-3 text-decoration-none" })
</p>


<table class="table w-75 ms-auto me-auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            Full Name
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            <img src="~/Content/img/profiles/@item.imgURL" style="width:60px;height:60px; object-fit:cover; object-position:center" class=" ms-auto me-auto rounded-circle" alt="profile Picture">
              
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDuser }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDuser }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDuser })
        </td>
    </tr>
}

</table>
