@model FramesAmorRoma.Models.booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.package.PackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.package.PackageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spot.locationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spot.locationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daterequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daterequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prefertHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prefertHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfPersons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfPersons)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
