@model FramesAmorRoma.Models.booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.package.PackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.package.PackageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spot.locationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spot.locationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daterequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daterequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prefertHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prefertHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfPersons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfPersons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDbook }) |
    @Html.ActionLink("Back to List", "Index")
</p>
