@model IEnumerable<FramesAmorRoma.Models.booking>

@{
    ViewBag.Title = "Index";
}


<table class="table table-hover w-75 me-auto ms-auto text-bg-light">
    <tr>
        <th>
            Booking Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.package.PackageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot.locationName)
        </th>
        <th>
           Photographer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.daterequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prefertHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfPersons)
        </th>
        <th class="d-flex justify-content-center">
            <button class="btn btn-outline-warning link-dark text-decoration-none">@Html.ActionLink("Add a new request", "Create", null,new { @class = "link-dark text-decoration-none" })</button>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDbook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.package.PackageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot.locationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daterequest, "{0:yyyy-MM-dd}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prefertHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfPersons)
        </td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.IDbook }, new { @class = "bi bi-pencil link-dark text-decoration-none" })</button>
                <button type="button" class="btn btn-warning">@Html.ActionLink("Details", "Details", new { id = item.IDbook }, new { @class = "bi bi-info-square link-dark text-decoration-none" })</button>
                <button type="button" class="btn btn-warning">@Html.ActionLink("Delete", "Delete", new { id = item.IDbook }, new { @class = "bi bi-trash3 link-dark text-decoration-none" })</button>
            </div>

        </td>

    </tr>
}

</table>
