@model FramesAmorRoma.Models.portfolio

@{
    ViewBag.Title = "Details";
}



<div class="row mt-5">
    <div class="col col-md-3">
        <h4>The @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName) portfolios</h4>
        <hr />
        <p>@Html.DisplayFor(model => model.User.aboutME)</p>

    </div>
    <div class="col col-md-9">

    </div>
   




</div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coverIMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coverIMG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img9)
        </dd>

    </dl>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDportfolio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
