@model IEnumerable<FramesAmorRoma.Models.portfolio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            Photographer
        </th>
        <th>

            @Html.DisplayNameFor(model => model.coverIMG)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            <img src="~/Content/img/portfolio/@item.coverIMG" style="width:60px;height:60px; object-fit:cover; object-position:center" class=" ms-auto me-auto rounded-circle" alt="profile Picture">

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDportfolio }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDportfolio }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDportfolio })
        </td>
    </tr>
}

</table>
